:root {
  --primary-color: #58a6ff;
  --secondary-color: #161b22;
  --text-color: #c9d1d9;
  --background-color: #0d1117;
  --secondary-background-color: #07090c;
  --border-color: #30363d;
  --secondary-text-color: #8b949e;
  --highlight-color: #318ef8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: liquid-smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  animation: flicker 0.15s infinite;
  text-shadow: 0 0 1px var(--primary-color), 0 0 2px var();
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    opacity: 1;
  }
  20%,
  22%,
  24%,
  55% {
    opacity: 0.9;
  }
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: repeating-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0px,
    rgba(0, 0, 0, 0) 1px,
    rgba(0, 0, 0, 0.05) 2px,
    rgba(0, 0, 0, 0.05) 3px
  );
  z-index: 9999;
  mix-blend-mode: multiply;
}

header {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  padding: 2rem;
  text-align: center;
  border-bottom: 1px solid var(--border-color);
  position: relative;
  overflow: hidden;
}

header h1 {
  font-family: "Iceland";
  font-size: 3.5rem;
  color: var(--primary-color);
  position: relative;
  z-index: 1;
  pointer-events: none;
}

header p {
  font-family: "Montserrat";
  font-size: 1.2rem;
  color: var(--secondary-text-color);
  position: relative;
  z-index: 1;
  pointer-events: none;
}

#constellation-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

nav {
  display: flex;
  justify-content: center;
  background: var(--secondary-color);
  border-bottom: 1px solid var(--border-color);
}

nav a {
  color: var(--primary-color);
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background 0.3s;
}

nav a:hover {
  background: #424446;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
}

section {
  margin-bottom: 2.5rem;
}

h2 {
  font-family: "Iceland";
  font-size: 2.5rem;
  color: var(--primary-color);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-family: "Iceland";
}

h4 {
  font-family: "Iceland";
}

.exp-title {
  color: var(--highlight-color);
}

.experience-item .experience-desc {
  font-family: "Montserrat";
  font-weight: 200;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  text-shadow: 0 0 1px var(--primary-color), 0 0 2px var(--primary-color);
}

.experience-duration {
  font-style: italic;
}

.project {
  background: var(--secondary-color);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(88, 166, 255, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(88, 230, 255, 0.3);
  z-index: 10;
  position: relative;
}

.project h3 {
  color: var(--text-color);
}

.project p {
  color: var(--secondary-text-color);
}

#projects a {
  text-decoration: none;
}

.proj-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 0.75rem;
}

.proj-btn:hover {
  background-color: var(--highlight-color);
}

.pre-title {
  color: var(--highlight-color);
  text-shadow: 0 2px 2px rgba(88, 166, 255, 0.5),
    0 0 2px rgba(49, 142, 248, 0.35);
}

.project-item h3 {
  font-family: "Montserrat";
  padding: 2rem;
  background-color: var(--secondary-background-color);
  border-radius: 8px;
}

.right {
  text-align: right;
}

.social {
  padding-bottom: 1rem;
}

.social:hover {
  transform: scale(1.2);
}

footer {
  text-align: center;
  padding: 2rem;
  background: var(--background-color);
  color: var(--secondary-text-color);
  font-size: 0.9rem;
  border-top: 1px solid var(--border-color);
}

.profile_pic {
  border-radius: 50%;
  margin-top: 20px;
  width: 200px;
  height: 200px;
}

.profile_pic:hover {
  transform: scale(
    1.25
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.project {
  font-family: "Montserrat";
}

.intro p {
  font-family: "Montserrat";
}

.about {
  font-family: "Montserrat";
}

.project-item {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--border-color);
}

#projects {
  padding-top: 20px;
}

.skills {
  font-family: "Montserrat";
}

/* center space-force-img */
.space-force-img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

#space-force-link {
  font-size: 1.2rem;
  text-decoration: none;
  color: #ffffff;
}

.wendigo-image {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding: 0;
  text-align: center;
}

.flatwoods-monster {
  width: 50%;
}

.floating-head {
  width: 50%;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 2.5rem;
  }

  header p {
    font-size: 1rem;
  }

  nav a {
    padding: 0.5rem 1rem;
  }

  .container {
    padding: 1rem;
  }

  h2 {
    font-size: 2rem;
  }

  .project {
    padding: 0.5rem;
  }

  .space-force-img {
    width: 100%;
  }
}
